.search-bar{
    text-align: center;
    margin: 1.5rem;
    position: relative;
}
/* Targets the actual <input> tag inside an element with the class "search-bar" */
.search-bar input {
    padding: 0.8rem;
    width: 65%;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}
/* Better approach: Name it after its function inside the search bar */
.search-bar .btn1  {
    margin-left: 10px;
    padding: 0.8rem 1rem;
    background: #ff8a00;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.clear-btn {
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #999;
  transition: 0.3s ease;
}

.clear-btn:hover {
  color: #807f7f;
}


